<h2>募集の修正</h2>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">      
    <%= form_for(@post, url: "/posts/#{@post.id}") do |f| %>
    <div class="input-group date datepicker">
        <%= f.label :day  , "日時"%>
        <%= f.text_field :day, class: "form-control datetimepicker-input", id: "start_time", data: {toggle: "datetimepicker", target: "#start_time"} %>
    </div>
    <div class="form-group">
      <%= f.label :content , "募集詳細"%><br />
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="actions">
    <%= f.submit "更新！", class: "btn btn-primary" %>
    </div>
    <% end %>
　　</div>
  </div>
